body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #750dae;
  color: white;
  padding: 1.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: left;
  padding-left: 1rem; 
  padding-bottom: 1rem;
  padding-right: 3rem;
  text-decoration: none;
  padding-top: 1rem;
  order: 1;
  
}

.icon {
  font-size: 4rem;
  text-align: center;
}
*{
    box-sizing: border-box;
}

.emoji:first-child {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 12px;
    display: flex;

}
.emoji:nth-child(3)
{
    flex-wrap: wrap;
    display: flex;
    margin: 12px;
    flex-direction: column;
}

.emoji:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin: 12px;
    flex-wrap: wrap;
}

.emoji:last-child {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 12px;
 
}

p {
    margin-right: 0.8rem;
    order: 1;
    margin-left: 0;
}

.emojis .emoji {
    border: 1px black solid;
    display: flex;
    border-radius: 0.8rem;
    justify-content: space-between;
}

.emojis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
